@import 'animation.scss';
@import 'mixins.scss';

.container-wrapper{
    position: relative;
    width: 80rem;
    height: 60rem;
    margin: 10rem auto;
    background-color:#F4F5FC;
    display: flex;
    justify-content: center;
    align-items: center;

    @include response(phone){
        width:100%;
        height:100vh;
        margin: 0;
    }
}


.userImage{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    pointer-events: none;
    width: 75%;
    height: 75%;
    position: absolute;
    top:15rem;
    left:20rem;
    animation: firstAnimation 2s linear forwards;
    z-index: 10;

    @include response(phone){
        left:10rem;
    }
}


.signup{
    position: absolute;
    box-sizing: border-box;
    width:66.5rem;
    height:48rem;
    display: flex;

    @include response(phone){
        width:100%;
        flex-direction: column;
        height:100vh;
        position: relative;
    }


    &__leftbox{
        display: flex;
        width: 13.72rem;
        background-color: #5A61ED;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .form-title{
            font-weight: 400;
            font-size: 4.9rem;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin-bottom: 2.2rem;

            @include response(phone){
                font-size: 2.8rem;
                writing-mode:horizontal-tb;
                transform: rotate(0deg);
                margin-left:2rem;
                margin-bottom: 1rem;
            }
            @include response(phone-mini){
                font-size: 3.6rem;
                margin-bottom: 2.2rem;
            }
        }

        @include response(phone){
            width: 100%;
            height:16rem;
            align-items: flex-start;
            justify-content: flex-end;
        }

        @include response(phone-mini){
            height:12rem;
        }

    }
    &__rightbox{
        position: relative;
        font-family: WorkSans !important;
        display: flex;
        flex-direction: column;
        padding: 2.1rem;
        overflow: hidden;
        z-index: 20;

        @include response(tab-port){
            background-position: top 5rem left 16rem;
        }
        @include response(phone){
            justify-content: space-evenly;
        }

        &-header{
            margin-top: 1.75rem;
            margin-bottom: 2rem;

            .title{
                font-size: 2.2rem;
                color: #111111;
                line-height: 2.57rem;
                font-style: normal;
                font-weight: 500;

                @include response(phone){
                    font-size: 2.4rem;
                }
            }

            .description{
                font-size: 1.4rem;
                font-weight: 300;

                @include response(phone){
                    font-size: 1.8rem;
                }
            }
        }

    }
}

.wrapper-form{
    position: relative;
    background-color: #FFFFFF;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include response(phone){
        overflow:visible;
    }
}

input, select, textarea {
    font-family: inherit;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: .5rem 0 .6rem 0;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;


    @include response(phone){
        font-size: 2.2rem;
    }
  }

.form-container{
    display: grid;
    // grid-template-columns: repeat(2, 23.6rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 4.7rem );
    gap: 1.6rem 1.5rem;

    @include response(phone){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 6.5rem );
        row-gap: 4.5rem;
    }
    @include response(phone-mini){
        row-gap: 6.5rem;
    }

}

.form-group{
    position: relative;
    display: flex;
    flex-direction: column;
    width:100%;
    }

.form-group label{
    color:#7C7C7C;
    font-size: 1.2rem;
    font-weight: 300;

    @include response(phone){
        font-size: 1.8rem;
         }
    }


    input[type="text"],
    input[type="password"],
    input[type="email"],
    select{
        border: none;
        border-bottom: .04rem solid #F2F2F2;
        font-weight: 400;
        text-indent: 0px;
        box-sizing: border-box;
        background: none;
        height:3.4rem;

        &:focus-visible{
            // border: none;
            border-bottom: .04rem solid #9f9c9c;
            outline: none;
        }

        @include response(phone){
            height:4rem;
        }
    }
    select{
        text-indent: 0px;
        // margin-top: 5px;
    }
    .fallbackDatePicker{
        display: flex;
        justify-content: space-between;

        @include response(phone){
            justify-content: flex-start;
        }
    }
    .date-select{
        box-sizing: border-box;
        padding: .5rem 0 .6rem 0;
        font-size: 1.4rem;
        border: none;
        border-bottom: .04rem solid #F2F2F2;

        &-day{
            width:4.5rem;
            text-indent: 0px;

            @include response(phone){
                width:10rem;
                }}
        &-month{
            width:10.5rem;

            @include response(phone){
                width:15rem;
                }}

        &-year{
            width:6.7rem;
            @include response(phone){
                width:10rem;
                }}

    @include response(phone){
        font-size: 2.2rem;
        height:4rem;
        }
    }

.radio-group{
    width: 23.45rem;
    display: flex;
    padding: .5rem 0 .6rem 0;
    font-size: 1.4rem;

        &-text{
            margin-right: 1.9rem;
        }

        @include response(phone){
            font-size: 2.2rem;
            height:4rem;
            align-items: center;
        }
}
input[type="radio"]{
    width:1.2rem;
    margin-right:.6rem;
    // border: 0.7px solid #5A61ED !important;
    border-width:.07rem;
    border-style: solid;
    border-color: #5A61ED;

    @include response(phone){
        font-size: 1.8rem;
        height:4rem;
    }
}
.sign-footer{
    @include signUpFooter;
}
.signup-success-footer{
    @include signUpFooter;
    padding-left: 2.08rem;
    margin-bottom: 4.3rem;
}

.error-hint{
    color:#FF2222;
    position: absolute;
    margin-top: 5rem;

    @include response(phone){
        font-size:1.8rem;
        margin-top: 6rem;
    }
}


input.invalid{
    color:#FF2222;
    border-bottom: .04rem solid #FF2222;

}

.signup-success{
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: WorkSans;
    color: #111111;
    padding: 6.8rem;
    margin-bottom: 7rem;

    .thankYou{
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 1.1rem;
    }
}
.correct{
    display: block;
    position: absolute;
    top: 15px;
    right: 0px;
    color:#5A61ED;
}

.show-icon{
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;


	@include response(phone){
		font-size: 1.6rem;
	}
}

.validation{
    width: 25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #5A61ED;
    padding: 1rem;
    top: 31.5rem;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.6em;
    opacity: 1 !important;
    right:1rem;

    @include response(phone-mini){
        top:52rem;}

    @include response(phone-mini){
        top:72rem;
        width:90%;
        display: inline;
        right:1.5rem;
        font-size: 1.6rem;
    }

    &>span{
        @include response(phone){
            width:30rem;
            margin-right: 2rem !important;
        }
    }

    &__title{
        color:#5A61ED;
        margin-bottom: .5rem;
    }
    i{
        margin-right: 1rem;
        color:#9f9c9c
    }
    &::before{
        content:'';
        position: absolute;
        width: 0;
        height: 0;
        left:-2.1rem;
        top:1.5rem;
        // left:3rem;
        // top:-2rem;
        border: 1rem solid;
        border-color: #5A61ED #5A61ED transparent transparent;

        @include response(phone){
            display: none;
        }
    }

    &::after{
        content:'';
        position: absolute;
        width: 0;
        height: 0;
        left:-1.6rem;
        top:1.7rem;
        // left:3.1rem;
        // top:-1.7rem;
        border: 1rem solid;
        border-color: #FFFFFF #FFFFFF transparent transparent;

        @include response(phone){
            display: none;
        }
    }
}


.success-color{
    color:#5A61ED !important;
    i{
        color: #5A61ED !important;
    }
}
.success-message{
    margin-left: .5rem;
    color: #5A61ED !important;
}

.left-characters{
    margin:.5rem;
    // width:15rem;
}

.loader {
    width: 48px;
    height: 48px;
    top:50%;
    left:50%;
    border: 5px solid #5A61ED;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    z-index: 2000;
  }
  .hidden{
    display: none;

    @include response(phone){
        display: none;
    }
    @include response(phone-min){
        display: none;
    }
}



